.auth_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e1e2e;
    overflow: hidden;
    position: relative;
}

/* Background Blobs */
.blob {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: blur(100px);
    z-index: 0;
    opacity: 0.7;
}

.blob-1 {
    background: #ff00ff;
    top: 10%;
    left: 20%;
    animation: move 20s infinite alternate;
}

.blob-2 {
    background: #00ffff;
    bottom: 10%;
    right: 20%;
    animation: move 25s infinite alternate-reverse;
}

.blob-3 {
    background: #ffff00;
    top: 40%;
    right: 30%;
    animation: move 30s infinite alternate;
}

@keyframes move {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(100px, 100px);
    }
}

.auth_box {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    padding: 60px;
    border-radius: 20px;
    width: 480px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 10;
}

.auth_box h1 {
    margin-bottom: 32px;
    font-weight: 800;
    text-align: center;
    font-size: 2.2rem;
    letter-spacing: -1px;
}

.auth_box form {
    display: flex;
    flex-direction: column;
}

.error {
    background: rgba(229, 9, 20, 0.85);
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.auth_box input {
    padding: 18px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.auth_box input:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.4);
}

.auth_box button {
    padding: 16px;
    margin-top: 24px;
    background: #e50914;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.auth_box button:hover {
    background: #f40612;
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(229, 9, 20, 0.4);
}

.auth_box p {
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.auth_box a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.auth_box a:hover {
    text-decoration: underline;
}